# Xcode / Swift
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
.swiftpm/
Packages/
.DS_Store

# user-specific Xcode state
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
